@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: dotted;
}
main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: dotted;
    text-align: center;
    text-justify: center;

}
.cards{
    display: grid;
    grid-template-areas:
    " . card-team-builder ."
    "cards-supervisor . card-calculator"
    ". card-karma ."
    ;

    border: dotted;
}
.card-team-builder{
    grid-area:card-team-builder;
    border: dotted;
}
.cards-supervisor{
    grid-area:cards-supervisor;
    border: dotted;
}
.card-calculator{
    grid-area: card-calculator;
    border: dotted;
}
.card-karma{
    grid-area: card-karma;
    border: dotted;
}
.attribution{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}


